.transaction {
  margin: 20px auto;
  width: 700px;
}

th {
  text-align: center;
  background-color: rgb(245 156 72 / 82%);
  color: white;
  padding: 5px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

td {
  text-align: center;
  color: #595a5a;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

table,
th,
td {
  border: 2px solid #f0f0f0;
}
